<!DOCTYPE html>
<html lang="it">
    <head>
    <style>
        body{
            background-color: lightyellow; 

        }
        
    </style>
    <title>Pagina di accesso!</title>
</head>

<body>
    <form action="/gestisci_login">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="nome"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="cognome"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Accedi"><br><br>
      </form>      
</body>

</html> 